
1º Período/Lógica Matemática/ACFrOgAI4s2_GHaXvk9r9SM4VEWeKxhme6vafwdfwZ8nhAzvx-hVtX1seDMVESMrQtcVJfVPfHxN2kXmUfQoYAVGw8l9Jhrx_jiwBSdCS19D5dyPJwDJIkMm960x12KK-FiYldXbzdMz9DOULz2q.pdf
2º Período/Álgebra Linear/Aulas/ACFrOgAvctp-9rdgaa53kXGhvpFTAaxbiu2ryisoa2qF9hggFRXuYo6EicT60oFBH0wHtlqL4-k0xz7ioT8EJPBrnkC3Gzo8__-YHdZnkTNJlPNW5LRGhxnSB_p3_L5YkrTNeKHIKBrZnJQ7LuVV.pdf
3º Período/Arquitetura de Computadores/Andrew S. Tanenbaum - Organização Estruturada de Computadores 5ª Edição.pdf
